$db: #032c7f;
$blue: #4A7ADA;
$red: #ce2500;
$lb: #2d63cc;
$gray-dark: #4d4d4d;
$gray: #bdbdbd;
$gray-med: #787878;
$gray-light: #f4f3f3;

// Шрифты
$font300: 300;
$font500: 500;
$font600: 600;
$font700: 700;
